@font-face {
  font-family: "Zapfino";
  font-style: normal;
  font-weight: normal;
  src: local("Zapfino"), url("../resources/fonts/Zapfino.woff") format("woff");
}

.navbar-brand,
.nav-link {
  font-family: "Zapfino";
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: 200;
  color: black;
}

.nav-link {
  font-size: 1rem;
  color: black;
}

.navbar {
  margin-top: 1.5rem;
}

.navbar-toggler {
  border-color: rgb(0,0,0) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}